@using Web.Areas.Admin.ViewModels.ComponentManagement.Navbar
@model NavbarCreateViewModel

@{
    ViewData["Title"] = "Navbar components";
}


@section plugin_styles{
    <link href="~/admin/metrica/assets/plugins/select/selectr.min.css" rel="stylesheet" type="text/css" asp-append-version="true" />
}

<div class="row">
    <div class="col-sm-12">
        <div class="page-title-box">
            <div class="float-end">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a asp-controller="navbar" asp-action="list" asp-area="admin">Navbar components</a></li>
                    <li class="breadcrumb-item active">Create</li>
                </ol>
            </div>
            <h4 class="page-title">Create navbar component</h4>
        </div>
    </div>
</div>

@await Component.InvokeAsync("ActionResultMessage")

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <form method="POST" enctype="multipart/form-data" asp-controller="navbar" asp-action="create" asp-area="admin" id="navbar-create">
                    @Html.AntiForgeryToken()

                    <div class="row">
                        <div asp-validation-summary="ModelOnly" class="invalid-feedback" style="display:block"></div>
                    </div>

                    <div class="row">
                        <div class="card-body border mb-3">
                            <div class="row">
                                <div class="col-lg-4">
                                    <div class="form-check form-switch form-switch-success">
                                        <input asp-for="RequireAuthorization" class="form-check-input">
                                        <label asp-for="RequireAuthorization" class="form-check-label"></label>
                                        <span asp-validation-for="RequireAuthorization" class="invalid-feedback" style="display:block"></span>
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="form-check form-switch form-switch-success">
                                        <input asp-for="ShowOnHeader" class="form-check-input">
                                        <label asp-for="ShowOnHeader" class="form-check-label"></label>
                                        <span asp-validation-for="ShowOnHeader" class="invalid-feedback" style="display:block"></span>
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="form-check form-switch form-switch-success">
                                        <input asp-for="ShowOnFooter" class="form-check-input">
                                        <label asp-for="ShowOnFooter" class="form-check-label"></label>
                                        <span asp-validation-for="ShowOnFooter" class="invalid-feedback" style="display:block"></span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="mb-3">
                                <label asp-for="Title_AZ"></label>
                                <input class="form-control" asp-for="Title_AZ">
                                <span asp-validation-for="Title_AZ" class="invalid-feedback" style="display:block"></span>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="mb-3">
                                <label asp-for="Title_RU"></label>
                                <input class="form-control" asp-for="Title_RU">
                                <span asp-validation-for="Title_RU" class="invalid-feedback" style="display:block"></span>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="mb-3">
                                <label asp-for="Title_EN"></label>
                                <input class="form-control" asp-for="Title_EN">
                                <span asp-validation-for="Title_EN" class="invalid-feedback" style="display:block"></span>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="mb-3">
                                <label asp-for="Link"></label>
                                <input class="form-control" asp-for="Link">
                                <span asp-validation-for="Link" class="invalid-feedback" style="display:block"></span>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="mb-3">
                                <label asp-for="Order"></label>
                                <input class="form-control" asp-for="Order">
                                <span asp-validation-for="Order" class="invalid-feedback" style="display:block"></span>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="form-group mt-3">
                    <button class="btn btn-primary" type="submit" form="navbar-create">Save</button>
                    <a asp-controller="navbar" asp-action="list" asp-area="admin" class="btn btn-danger">Cancel</a>
                </div>
            </div>
        </div>
    </div>
</div>


@section plugin_scripts{
  
}


@section scripts{

}
