@model bool


@if (Model)
{
    <span style="color: #70BF2B; ">
        <i class="fas fa-check-circle"></i>
    </span>
}
else
{
    <span style="color: #ef4d56  ;">
        <i class="fas fa-times-circle"></i>
    </span>
}

