.advertisement {
  background: transparent url("/static/svgs/home/background-illustration.svg") no-repeat center;
  background-size: cover;
  // min-height: rem(240);
  border-radius: rem(16);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-top: rem(80);

  &-body {
    @include advancedRem(padding, (40 80));
  }

  &-logo {
    margin-bottom: rem(40);
  }

  &-title {
    @include font-size(30, 600);
    line-height: rem(50);
    color: $primary-grey;
  }

  &-subtitle {
    @include font-size(18, 500);
    line-height: rem(22);
    color: $primary-grey;
  }

  &-illustration {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    height: calc(100% + #{rem(40)});

    img {
      height: 100%;
    }

    &-wrapper {
      position: relative;
    }
  }
}
