.g-card {
}

.product-card {
  $this: &;
  position: relative;
  background: $white;
  box-shadow: 2px 5px 35px rgba(17, 20, 45, 0.05);
  border-radius: rem(8);
  overflow: hidden;

  &:hover,
  &--like-btn:hover {
    #{$this}__title span:first-child {
      color: $primary-blue;
    }

    #{$this}--like-btn {
      opacity: 1;
    }

    .swiper-button-next,
    .swiper-button-prev,
    .swiper-pagination-bullet {
      opacity: 1 !important;
    }
  }

  &__body {
    position: relative;
    @include advancedRem(padding, (8 12 16));
  }

  .swiper-slide,
  &__img {
    border-radius: rem(8);
  }

  &__img {
    height: rem(200);
    width: 100%;
    object-fit: cover;
  }

  &__title {
    @include flex-center();
    @include transition();

    span:first-child {
      margin-right: rem(4);
    }
  }

  &__icons {
    span:first-child {
      margin-right: rem(12);
    }
  }

  &--like-btn {
    position: absolute;
    top: rem(4);
    right: rem(4);
    background: rgba(0, 0, 0, 0.35);
    @include advancedRem(border-radius, (3 8));
    display: grid;
    place-items: center;
    z-index: 2;
    border: none;
    color: $white;
    width: rem(40);
    height: rem(36);
    opacity: 0;
    @include transition();

    &.filled {
      svg path,
      svg {
        fill: $secondary-error;
        stroke: $secondary-error;
      }
    }

    // svg {
    //   max-width: rem(19);
    // }
  }
}

.info-card {
  background: $white;
  box-shadow: rem(2) rem(5) rem(40) rgba(17, 20, 45, 0.08);
  border-radius: rem(8);
  @include advancedRem(padding, (16 24));

  &__like-btn {
    background: transparent;
    border: none;
    padding: rem(4);

    &.filled {
      svg path,
      svg {
        fill: $secondary-error;
        stroke: $secondary-error;
      }
    }
  }

  &__details {
    @include advancedRem(margin, (12 0 25));

    &--icon {
      @include box(40);
      border-radius: rem(8);
      background-color: $ntr-light-04;
      display: grid;
      place-items: center;
      margin-right: rem(16);
    }

    &--item {
      @include flexbox();

      &:not(:last-child) {
        margin-bottom: rem(16);
      }
    }
  }

  .phone-list {
    a,
    button {
      &:not(:last-child) {
        margin-bottom: rem(8);
      }
    }
  }
}

.custom-cards {
  @include grid-repeated-cols(_, 20, "fr", 3);
  margin-bottom: rem(16);
}

.custom-card {
  @include advancedRem(padding, (24 8 8));
  text-align: center;
  background: $white;
  box-shadow: 2px 5px 40px rgba(17, 20, 45, 0.08);
  border-radius: rem(8);

  &:hover & {
    &__title {
      color: $primary-blue;
    }
  }

  &__title {
    margin-bottom: 16px;
    @include font-size(18, 600);
    line-height: 1.4;
    letter-spacing: 0.02em;
    color: $primary-black;
    @include transition();
  }

  &__img {
    img {
      object-fit: cover;
      width: 100%;
    }
  }
}

.agency-card {
  box-shadow: 0px 4px 15px rgba(17, 20, 45, 0.06);
  background: $white;
  border-radius: rem(8);
  width: rem(260);
  overflow: hidden;
  height: 100%;
  display: flex;
  flex-direction: column;

  &__img {
    img {
      width: 100%;
    }
  }

  &__body {
    @include advancedRem(padding, (16 24 20));
    display: flex;
    align-items: stretch;
    flex-direction: column;
    flex: 1;
  }

  &__title {
    @include font-size(16, 600);
    line-height: 1.5;
    color: $black;
    margin-bottom: rem(4);
    flex: 1;
  }

  &__ads {
    color: $ntr-light-06;
    @include font-size(14, 400);
    line-height: rem(24);
  }
}

.subscribe-card {
  width: 100%;
  border-radius: rem(16);
  background-color: $ntr-light-04;
  padding: 0 rem(108);
  @include grid-repeated-cols(_, 15, "fr", 2);
  @include advancedRem(margin, (45 0 35));

  &-body {
    padding: rem(48) 0;
  }

  &-img {
    position: absolute;
    bottom: 0;

    img {
      height: calc(100% + #{rem(40)});
    }

    &-wrapper {
      position: relative;
    }
  }
}
