@charset "utf-8";

/* Utilities */

@import "utilities/variables";

@import "utilities/functions";

@import "utilities/mixins";

@import "utilities/extends";

@import "utilities/constants";

/* Base */

@import "base/colors";

@import "base/typography";

@import "base/reset";

@import "base/gap";

@import "base/animations";

/* Components */

@import "components/buttons";

@import "components/banner";

@import "components/form";

@import "components/accordion";

@import "components/link";

@import "components/list";

@import "components/card";

@import "components/carousel";

@import "components/dropdown";

@import "components/pagination";

@import "components/tab";

@import "components/select";

@import "components/uploaded";

@import "components/quick-links";

@import "components/advertisement";

@import "components/breadcrumb";

@import "components/widgets";

@import "components/alert";

@import "components/review-images";

@import "components/modal";

@import "components/loader";

/* Layouts */

@import "layouts/container";

@import "layouts/grid";

@import "layouts/navbar";

@import "layouts/footer";

@import "layouts/menu";

@import "layouts/filter";

@import "layouts/section";

@import "layouts/map";

/* Pages */

@import "pages/ui";

@import "pages/index";

@import "pages/404";

@import "pages/search";

@import "pages/details";

@import "pages/agencies";

@import "pages/dashboard";

@import "pages/contact";

@import "pages/agency-profile";

@import "pages/announcement-create";
