.g-breadcrumb {
  &-item {
    a {
      @include font-size(14, 400);
      color: $ntr-light-06;
      line-height: rem(24);
      letter-spacing: 0.02em;
      @include transition();
      text-transform: capitalize;

      &:hover {
        color: $primary-blue;
      }
    }
  }
}
