.item-enter {
  opacity: 0;
  transform: scale(0.9);
}
.item-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: opacity 300ms, transform 300ms;
}
.item-exit {
  opacity: 1;
}
.item-exit-active {
  opacity: 0;
  transform: scale(0.9);
  transition: opacity 300ms, transform 300ms;
}

.liftTop-enter {
  opacity: 0;
  top: rem(50);
}
.liftTop-enter-active {
  opacity: 1;
  transition: opacity 300ms, transform 300ms;
}
.liftTop-exit {
  opacity: 1;
}
.liftTop-exit-active {
  opacity: 0;
  top: 0;
  transition: opacity 300ms, transform 300ms;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(1rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
