*,
*::after,
*::before {
  box-sizing: border-box;
}

* {
  outline: 0;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
  font-family: "Inter", sans-serif !important;

  *:focus {
    outline: none;
  }
}

// html,
// body {
//   width: 100%;
//   height: 100%;
//   overflow-x: hidden;
// }

html {
  font-size: 16px;
}

body {
  font-family: "Inter", sans-serif !important;
  background-color: #fefefe;
  // color: $dark-blue;
}

@media screen and (min-width: $screen-lg) {
  html {
    font-size: calc(100vw / 1920 * 20);
  }
}

.btn,
.form-control {
  box-shadow: none;

  &:focus {
    text-shadow: none;
  }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

ul {
  padding-left: 0;
  list-style: none;
}

address {
  margin-bottom: 0;
}

a {
  text-decoration: none !important;
}

body {
  p {
    margin-bottom: 0;
  }

  ul {
    margin-bottom: 0;
    padding-left: 0;
  }

  caption {
    padding-top: 0;
    padding-bottom: 0;
  }
}

.g-fluid {
  width: 100%;
}

.dropdown-toggle::after {
  display: none !important;
}

// input:-webkit-autofill,
// input:-webkit-autofill:hover,
// input:-webkit-autofill:focus,
// textarea:-webkit-autofill,
// textarea:-webkit-autofill:hover,
// textarea:-webkit-autofill:focus,
// select:-webkit-autofill,
// select:-webkit-autofill:hover,
// select:-webkit-autofill:focus {
//   border: rem(3) solid $white-clr !important;
//   -webkit-text-fill-color: $label-clr;
//   transition: background-color 5000s ease-in-out 0s;
// }
