.colors {
  display: flex;
  align-items: center;
  flex-wrap: wrap;

  .color {
    @include box(40);
    border-radius: rem(8);
    margin-bottom: rem(20);

    & + .color {
      margin-left: rem(24);
    }
  }
}

.g-divider {
  width: 100%;
  height: rem(1);
  background-color: $ntr-light-04;
  margin: rem(16) 0;
}

.page-wrapper {
  margin-top: rem(16);
}
