.btn-base-css {
  border-radius: rem(12);
  outline: none;
  border: none;
  @include advancedRem(padding, (12 40));
  @include font-size(14, 500);
  line-height: 1.3;
  text-align: center;
  letter-spacing: 0.02em;
  @include transition();
}
