.g-card {
}

.product-card {
  $this: &;
  position: relative;
  background: $white;
  box-shadow: 2px 5px 35px rgba(17, 20, 45, 0.05);
  border-radius: rem(8);
  overflow: hidden;

  &:hover,
  &--like-btn:hover {
    #{$this}__title span:first-child {
      color: $primary-blue;
    }

    #{$this}--like-btn {
      opacity: 1;
    }

    .swiper-button-next,
    .swiper-button-prev,
    .swiper-pagination-bullet {
      opacity: 1 !important;
    }
  }

  &__body {
    position: relative;
    @include advancedRem(padding, (8 12 16));
  }

  .swiper-slide,
  &__img {
    border-radius: rem(8);
  }

  &__img {
    height: rem(200);
    width: 100%;
    object-fit: cover;
  }

  &__title {
    @include flex-center();
    @include transition();

    span:first-child {
      margin-right: rem(4);
    }
  }

  &__icons {
    span:first-child {
      margin-right: rem(12);
    }
  }

  &--like-btn {
    position: absolute;
    top: rem(4);
    right: rem(4);
    background: rgba(0, 0, 0, 0.35);
    @include advancedRem(border-radius, (3 8));
    display: grid;
    place-items: center;
    z-index: 2;
    border: none;
    color: $white;
    width: rem(40);
    height: rem(36);
    opacity: 0;
    @include transition();

    &.filled {
      background: rgba(255, 255, 255, 0.6);

      svg path,
      svg {
        fill: $secondary-error;
        stroke: $secondary-error;
      }
    }

    // svg {
    //   max-width: rem(19);
    // }
  }
}

.info-card {
  background: $white;
  box-shadow: rem(2) rem(5) rem(40) rgba(17, 20, 45, 0.08);
  border-radius: rem(8);
  @include advancedRem(padding, (16 24));
  height: max-content;

  &__like-btn {
    background: transparent;
    border: none;
    padding: rem(4);

    &.filled {
      svg path,
      svg {
        fill: $secondary-error;
        stroke: $secondary-error;
      }
    }
  }

  &__details {
    @include advancedRem(margin, (12 0 25));

    &--icon {
      @include box(40);
      border-radius: rem(8);
      background-color: $ntr-light-04;
      display: grid;
      place-items: center;
      margin-right: rem(16);
    }

    &--item {
      @include flexbox();

      &:not(:last-child) {
        margin-bottom: rem(16);
      }
    }
  }

  .phone-list {
    a,
    button {
      &:not(:last-child) {
        margin-bottom: rem(8);
      }
    }
  }
}

.custom-cards {
  // @include grid-repeated-cols(_, 20, "fr", 3);
  margin-bottom: rem(16);

  .swiper-slide {
    width: max-content;
  }
}

.custom-card {
  @include advancedRem(padding, (24 8 8));
  text-align: center;
  background: $white;
  box-shadow: 2px 5px 40px rgba(17, 20, 45, 0.08);
  border-radius: rem(8);

  @include breakpoint-max($screen-ms) {
    max-width: rem(280);    
  }

  &:hover & {
    &__title {
      color: $primary-blue;
    }
  }

  &__title {
    margin-bottom: 16px;
    @include font-size(18, 600);
    line-height: 1.4;
    letter-spacing: 0.02em;
    color: $primary-black;
    @include transition();
  }

  &__img {
    img {
      object-fit: cover;
      width: 100%;
    }
  }
}

.agency-card {
  $this: &;
  background: $white;
  overflow: hidden;
  height: 100%;
  display: flex;
  flex-direction: column;

  &:hover {
    #{$this}__title {
      color: $primary-blue;
    }
  }

  &--md {
    box-shadow: 0px 4px 15px rgba(17, 20, 45, 0.06);
    border-radius: rem(8);
    width: rem(260);
  }

  &--lg {
    box-shadow: 0px 2px 25px rgba(17, 20, 45, 0.07);
    border-radius: rem(16);
    @include advancedRem(padding, (16 24 16 16));
    display: flex;
    flex-direction: row;

    & + #{$this}--lg {
      margin-top: rem(24);
    }
  }

  &__logo {
    margin-right: rem(16);
    flex-shrink: 0;
  }

  &__details {
    @include advancedRem(padding, (10 0));
    flex: 1;
  }

  &__img {
    img {
      width: 100%;
    }
  }

  &__body {
    @include advancedRem(padding, (16 24 20));
    display: flex;
    align-items: stretch;
    flex-direction: column;
    flex: 1;
  }

  &__title {
    @include font-size(16, 600);
    line-height: 1.5;
    color: $black;
    margin-bottom: rem(4);
    flex: 1;
    @include transition();
  }

  &__ads {
    color: $ntr-light-06;
    @include font-size(14, 400);
    line-height: rem(24);
  }
}

.subscribe-card {
  width: 100%;
  border-radius: rem(16);
  background-color: $ntr-light-04;
  padding: 0 rem(108);
  @include grid-repeated-cols(_, 15, "fr", 2);
  @include advancedRem(margin, (45 0 35));

  &-body {
    padding: rem(48) 0;
  }

  &-img {
    position: absolute;
    bottom: 0;

    img {
      height: calc(100% + #{rem(40)});
    }

    &-wrapper {
      position: relative;
    }
  }
}

.mortgage-card {
  $this: &;
  background-color: #faa61a;
  border-radius: rem(16);
  padding: rem(24);
  max-width: rem(420);

  &__section {
    & + #{$this}__section {
      margin-top: rem(12);
    }
  }

  &__heading {
    display: flex;

    @include breakpoint-max(420) {
      flex-wrap: wrap;
    }

    &--icon {
      margin-right: rem(16);
      background-color: #ffbd70;
      flex-shrink: 0;
    }
  }
}

.announcement-cards {
  @include grid-repeated-cols(500, 30);
  @include advancedRem(margin, (22 0 32));
}

.announcement-card {
  background: $white;
  box-shadow: 0px 2px 25px rgba(17, 20, 45, 0.05);
  border-radius: rem(8);

  &__header,
  &__footer {
    @include advancedRem(padding, (16 18));
  }

  &__header {
    @include justify-between();

    @include pseudo() {
      height: rem(1);
      width: 100%;
      bottom: 0;
      left: 0;
      right: 0;
      background-color: transparentize($ntr-light-02, $amount: 0.5);
    }
  }

  &__header,
  &__body {
    @include pseudo() {
      height: rem(1);
      width: 100%;
      bottom: 0;
      left: 0;
      right: 0;
      background-color: transparentize($ntr-light-02, $amount: 0.5);
    }
  }

  &__body {
    @include advancedRem(padding, (24 16));
    display: flex;
    flex-wrap: wrap;
    grid-gap: rem(16);
  }

  &__img {
    border-radius: rem(8);

    img {
      border-radius: rem(8);
      object-fit: cover;
    }
  }

  &__title {
    max-width: calc(100% - #{rem(150)});
    width: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }

  &__dropdown {
    .btn {
      box-shadow: none !important;
    }

    a {
      @include advancedRem(padding, (4 12));
      display: block;
      @include font-size(14, 400);
      line-height: rem(24);
      color: $primary-black;
      @include transition();

      &:hover,
      &:focus,
      &:active {
        color: $primary-blue;
        background-color: transparentize($primary-blue, $amount: 0.98);
      }
    }

    .dropdown-menu {
      left: auto !important;
      bottom: auto !important;
      top: 0 !important;
      right: 0 !important;
      border: none;
      border-radius: rem(8);
      box-shadow: 0px 5px 40px rgba(17, 20, 45, 0.08);

      .dropdown-item {
        padding: 0;
        background-color: transparent;

        &:active,
        &.active {
          background-color: transparent;
        }
      }
    }
  }
}

.guide__card {
  padding: rem(24);
  box-shadow: rem(2) rem(5) rem(40) rgba(17, 20, 45, 0.08);
  background-color: $white;
  height: max-content;
  border-radius: rem(24);

  &--icon {
    svg {
      width: rem(20);
    }
  }

  &--title {
    @include advancedRem(margin, (24 0 16));
    @include font-size(15, 600);
    line-height: 1.4;
    letter-spacing: 0.02em;
  }

  &--list {
    max-width: rem(220);
    width: 100%;

    li {
      @include font-size(14, 400);
      letter-spacing: 0.02em;
      color: $secondary-grey-deactive;

      & + li {
        margin-top: rem(12);
      }
    }
  }
}
