.filter-form-tabs {
  display: grid;
  grid-template-columns: rem(180) 1fr;
  grid-gap: rem(8);
  align-items: center;

  .nav-tabs {
    border: none;
    border-radius: rem(8);
    border: 0.5px solid rgba(255, 255, 255, 0.73);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    overflow: hidden;
    height: rem(48);
  }

  .nav-link {
    width: 100%;
    height: 100%;
    padding: rem(12) 0;
    font-weight: 500;
    font-size: rem(14);
    line-height: rem(24);
    letter-spacing: 0.02em;
    border-radius: 0 !important;
    color: $ntr-light-05;
    border: none !important;

    &:hover {
      color: $primary-blue;
    }

    &.selected {
      background-color: $white;
      color: $ntr-dark-01;
    }
  }
}

.section-tabs {
  border-bottom: rem(1) solid $ntr-light-02;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  grid-column-gap: rem(40);
  grid-row-gap: rem(8);
  margin-bottom: rem(40);
}

.section-tab {
  position: relative;
  padding: rem(9) 0;
  @include font-size(15, 400);
  letter-spacing: 0.02em;
  color: $ntr-dark-02;
  line-height: 1.7;
  background-color: transparent;
  border: none;
  @include transition();

  &:hover {
    color: $primary-blue;
  }

  &.active {
    color: $ntr-dark-01;

    @include pseudo() {
      bottom: 0;
      width: 100%;
      height: rem(2);
      background-color: $primary-blue;
      border-radius: rem(24);
    }
  }
}

.g-tabs {
  display: flex;
  align-items: center;
  height: 100%;

  &__item {
    background: $white;
    border: rem(1) solid transparentize($ntr-light-06, 0.5);
    border-radius: rem(16);
    @include advancedRem(padding, (11 25));
    @include font-size(15, 400);
    line-height: 150%;
    letter-spacing: 0.02em;
    // color: $ntr-dark-01;
    @include transition();
    width: rem(172);

    &.active {
      background-color: $primary-blue;
      color: $white;
      border-color: $primary-blue;

      &:hover {
        background-color: $primary-blue-hover;
      }
    }

    &:hover:not(&.active) {
      border-color: $primary-blue;
      color: $primary-blue;
    }
  }
}
